<template>
    <div id="livestream">
      <div class="title stream-title">
        <h1>{{title}} Livestream</h1>
      </div>
      <div v-if="supported" class="video-wrapper">
        <video :poster="poster" preload="none" id="stream" autoplay controls crossorigin>
          <source :src="streamSrc">
        </video>
      </div>
      <div v-else class="video-wrapper">
        <div class="ui raised segment">
          <span class="error">Error:</span> It seems your browser does not support HLS playback, sorry...
        </div>
      </div>
    </div>
</template>

<script>
import $ from 'jquery'
import Hls from '#/hls.js/dist/hls.min.js'
import Plyr from '#/plyr/dist/plyr.js'
let streamLocation = document.URL.split('/live/')[1]
let defaultPoster = 'https://i.imgur.com/PP09mCn.png'
let streamSrc = 'https://live.luciascipher.com/' + streamLocation + '/playlist.m3u8'
$('#preloader').hide()  // Best not to ask...
function setStream (ctx) {
  if (Hls.isSupported()) {
    var video = document.querySelector('#stream')
    var hls = new Hls()
    hls.loadSource(streamSrc)
    hls.attachMedia(video)
    Plyr.setup(video)
    ctx.loaded = true
  } else {
    ctx.supported = false
  }
}
function modifyStyle () {
  $('.plyr__progress').css('opacity', 0)
  $('.plyr__time').css('display', 'none')
  let heightVar = ((100 - (((window.innerHeight - 256) / window.innerHeight) * 100)) / 1.5) + 1
  console.log('0 ' + Math.floor(heightVar) + 'px')
  $('.video-wrapper').css('padding', '0 ' + Math.floor(heightVar) + '%')
}
export default {
  name: 'ap-livestream',
  data () {
    return {
      title: streamLocation.toUpperCase(),
      supported: true,
      loaded: false,
      poster: defaultPoster,
      streamSrc: streamSrc
    }
  },
  mounted () {
    setStream(this)
    modifyStyle()
    return {}
  }
}
// 256
</script>

<style scoped>
@import './../../../node_modules/plyr/dist/plyr.css';
.content, .content h1 {
  color: #ffffff;
}
.content p {
	margin-bottom: 0;
}
.stream-title {
  color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 1.5rem
}
.video-wrapper {
  text-align: center;
}
.error {
  color: #ff0000;
}
</style>
