<template>
  <div id="leaderboards">
    <div class="ui container has-text-centered">
      <div class="animated fadeIn content">
        <section class="ui container stats section has-text-centered">
          <nav class="switch">
            <div class="main tabs">
              <div class="ui stackable grid three column row">
                <div class="column">
                  <a class="nav-item is-active" data-what="currency">⚜ Kud</a>
                </div>
                <div class="column">
                  <a class="nav-item" data-what="cookies">
                    <svg class="cookie" data-what="cookies" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" height="15px">
                      <g>
                      <g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
                        <path d="M4416.6,4985.1c-748.2-92-1508.6-377.1-2183.2-827.9c-392.5-260.6-1024.1-892.3-1284.8-1284.8C568.4,2302.1,320,1707.2,175.9,1032.6C74.7,566.5,74.7-341.1,175.9-807.2c325-1530.1,1297.1-2796.5,2655.4-3474.1c1867.4-926,4087.4-567.3,5589.9,907.6c634.7,622.5,1107,1441.2,1327.7,2296.7c150.3,594.9,202.4,1576.1,92,1717.1c-55.2,64.4-55.2,64.4-257.6,9.2c-591.8-159.5-1211.2,180.9-1343,735.9c-76.7,325-85.9,331.2-389.4,242.3c-496.8-144.1-1067.1,116.5-1281.7,585.7c-92,202.4-125.7,524.4-73.6,720.6c21.5,76.7,39.9,184,42.9,242.2c3.1,101.2,3.1,101.2-226.9,168.7c-125.7,36.8-294.4,110.4-371,162.5c-371,257.6-536.6,732.9-410.9,1192.8c79.7,294.4,67.5,303.5-469.2,309.7C4830.6,5012.7,4539.3,5000.4,4416.6,4985.1z M5247.6,4537.4c-49.1-650,337.3-1214.3,978.2-1428.9c39.9-15.3,46-36.8,21.4-134.9c-61.3-266.7-9.2-634.7,128.8-904.6c165.6-325,564.2-622.5,941.4-702.2c168.6-33.8,490.6-24.5,594.9,18.4c39.9,15.3,61.3,3.1,73.6-33.7c116.5-343.4,377.2-668.5,653.2-818.7c236.1-131.8,502.9-184,778.8-162.5l236.1,18.4V115.8c0-962.8-315.8-1950.2-880-2744.4c-226.9-318.9-720.6-812.6-1039.5-1039.5c-1649.7-1168.3-3832.9-1168.3-5482.6,3c-328.1,233.1-815.6,723.7-1051.8,1057.9C399.7-1469.5,139.1-46.7,485.6,1293.2c214.6,824.8,607.1,1511.7,1211.2,2115.8c873.9,873.9,2011.5,1349.2,3256.4,1361.5l312.8,3.1L5247.6,4537.4z"/><path d="M3291.3,3476.5c-141.1-79.7-260.6-266.8-260.6-414c0-239.2,254.5-496.7,490.6-496.7c230,0,490.6,260.6,490.6,490.6c0,150.3-134.9,355.7-276,429.3C3579.5,3565.4,3444.6,3562.3,3291.3,3476.5z M3689.9,3225c153.3-150.2,46-414-168.6-414c-125.7,0-245.3,119.6-245.3,245.3c0,125.7,119.6,245.3,245.3,245.3C3579.5,3301.7,3643.9,3274.1,3689.9,3225z"/><path d="M5744.3,1759.3c-141.1-79.7-260.6-266.8-260.6-414c0-239.2,254.5-496.7,490.6-496.7c230,0,490.6,260.6,490.6,490.6c0,150.3-134.9,355.7-276,429.3C6032.6,1848.3,5897.7,1845.2,5744.3,1759.3z M6143,1507.9c49.1-46,76.7-110.4,76.7-168.6c0-58.2-27.6-122.7-76.7-168.6c-46-49-110.4-76.7-168.7-76.7c-58.3,0-122.6,27.6-168.6,76.7c-49.1,46-76.7,110.4-76.7,168.6c0,58.3,27.6,122.7,76.7,168.6c46,49.1,110.4,76.7,168.6,76.7C6032.6,1584.5,6097,1557,6143,1507.9z"/><path d="M3880,1541.6c-619.4-230-797.2-959.8-343.4-1413.6c184-180.9,334.2-245.3,597.9-245.3s414,64.4,597.9,245.3c180.9,184,245.3,334.2,245.3,597.9c0,177.8-15.3,257.6-70.5,358.8c-88.9,168.6-248.4,328.1-410.9,410.9C4333.8,1578.4,4039.5,1599.9,3880,1541.6z M4373.7,1293.2c150.3-64.4,248.4-159.5,315.8-306.6c107.3-230,49.1-548.9-128.8-711.4c-230-211.6-622.5-211.6-852.4,0c-233,214.6-245.3,637.8-24.5,877C3843.2,1323.9,4146.8,1385.2,4373.7,1293.2z"/><path d="M1451.5,790.4c-220.8-101.2-383.3-340.4-383.3-561.2c3.1-297.4,315.8-607.1,613.3-607.1c300.5,0,613.3,312.8,613.3,613.3c0,223.8-177.8,469.1-404.8,564.2C1739.7,864,1601.7,860.9,1451.5,790.4z M1865.4,557.3c49.1-27.6,110.4-88.9,138-138c95.1-184,30.7-420.1-138-505.9C1528.1-261.4,1184.7,82,1359.5,419.3C1448.4,588,1681.5,652.4,1865.4,557.3z"/><path d="M7338.8-681.5c-220.8-101.2-383.3-340.4-383.3-561.2c3-297.4,315.8-607.1,613.3-607.1c300.5,0,613.3,312.8,613.3,613.3c0,223.8-177.8,469.1-404.8,564.2C7627.1-607.9,7489.1-610.9,7338.8-681.5z M7752.8-914.5c49.1-27.6,110.4-88.9,138-138c131.8-257.5-39.9-551.9-322-551.9c-282.1,0-453.8,294.4-322,551.9C7335.8-883.8,7568.8-819.4,7752.8-914.5z"/><path d="M4082.4-911.4c-318.9-104.3-567.3-325-711.4-628.6c-67.5-144.1-79.7-214.6-79.7-432.4c0-325,88.9-536.6,322-766.6c230-233,441.5-322,766.6-322s536.6,88.9,766.6,322c233,230,322,441.6,322,766.6c0,217.7-12.3,288.3-82.8,435.4c-104.3,226.9-346.5,466.1-567.3,567.3C4606.7-871.6,4278.6-847.1,4082.4-911.4z M4658.9-1162.9c325-95.1,579.6-453.8,579.6-809.5c0-463-395.6-858.6-858.6-858.6c-472.2,0-858.6,395.6-858.6,877c0,202.4,104.3,441.5,254.5,588.7C4011.9-1132.2,4318.5-1061.7,4658.9-1162.9z"/><path d="M6235-2165.6c-141.1-79.7-260.6-266.8-260.6-413.9c0-239.2,254.5-496.8,490.6-496.8c230,0,490.6,260.6,490.6,490.6c0,150.3-134.9,355.7-276,429.3C6523.2-2076.6,6388.3-2079.7,6235-2165.6z M6633.6-2417c153.3-150.2,46-413.9-168.7-413.9c-125.7,0-245.3,119.6-245.3,245.3c0,125.7,119.6,245.3,245.3,245.3C6523.2-2340.4,6587.6-2367.9,6633.6-2417z"/>
                        </g>
                      </g>
                    </svg>
                    Cookies
                  </a>
                </div>
              </div>
            </div>
          </nav>
          <loader id="loader" inline></loader>
          <leaderboard :what="what" :headers="headers" :data="data"></leaderboard>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import api from '@/api'
import Icon from '@/components/common/Icon'
import Loader from '@/components/common/Loader'
import leaderboard from '@/components/sigma/Leaderboard'

export default {
  name: 'sigma-leaderboards',
  components: { leaderboard, Icon, Loader },
  data () {
    return {
      what: 'currency',
      headers: ['№', 'Name', 'Currency'],
      data: []
    }
  },
  mounted () {
    let vuePage = this
    let headers = {
      'currency': ['№', 'Name', 'Currency'],
      'cookies': ['№', 'Name', 'Cookies']
    }
    $('.switch .main.tabs .nav-item').click((event) => {
      $('.switch .main.tabs .nav-item').removeClass('is-active')
      let what = $(event.target).attr('data-what')
      this.what = what
      this.headers = headers[what]
      updateLeaderboard(vuePage, what)
      $(event.target).addClass('is-active')
    })
    updateLeaderboard(vuePage, 'currency')
  }
}
function updateLeaderboard (ctx, lbType) {
  ctx.data = []
  $('#loader').show()
  api.get('sigma/leaderboard/' + lbType, (data) => {
    ctx.data = data.leaderboard
    $('#loader').hide()
  })
}
</script>

<style scoped>
.view {
  display: flex;
  align-items: center; }
.container {
  margin: 2rem auto; }
.content, .content h1 {
  color: #ffffff; }
.content p {
	margin-bottom: 0; }
/* Tab switcher */
.switch .tabs .nav-item.is-active {
  border-bottom: 3px solid #4d0099;
  padding-bottom: calc(0.5rem - 3px);
}
#loader {
  margin: 2rem auto; }
.cookie {
  padding-right: 5px;
}
.nav-item a {
  background: #161616;
  color: #ffffff;
}
.section {
  background: #ffffff;
}
</style>
